body {
  background-color: #A60303;
}

.navbar-brand h1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}


h2 {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
  padding-top: 5px;
  font-weight: bold;
}

.one {
  background-color: #F2B705;
  height: 1000px;

}

.two {
  background-color: #F24405;
  height: 1000px;
}

.three {
  background-color: #F2B705;
  height: 1000px;
}




/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* FOOD,LLC */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /********** Super extra small devices Only **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }

